.container {
  background-color: #f0f0f0;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}

/*? SIDEBAR START */
.sidebar {
  
}
/*? SIDEBAR END */

.content {
  height: calc(100vh - 4rem);
  width: 100%;
  gap: 0.5rem;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

/*? HEAD START */
.head {
  height: fit-content;
  padding: 0.5rem 1rem;
  justify-content: end;
}

.search {
  background-color: #fff;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px -4px #333;
}
.inputSearch {
  border: 0;
  font-size: 18px;
  font-weight: bold;
}
.inputSearch:focus {
  outline: none;
}
/*? HEAD END */

.items {
  width: calc(100vw - 4rem);
  padding: 1rem;
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 20px;
  flex-wrap: wrap;
}
.items::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}
.items::-webkit-scrollbar-thumb {
  background-color: #12005b;
  border-radius: 1rem;

}

.item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: fit-content;
  min-width: 30vw;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
  box-shadow: 0 0 10px -4px #333;
}

.topItem {
  justify-content: space-between;
  align-items: center;
}

.addWeight {
  aspect-ratio: 1 / 1;
  border: none;
  background-color: rgb(105, 105, 204);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.product {
  font-size: 20px;
  font-weight: bold;
}

.weights {
  justify-content: space-between;
  gap: 0.5rem;
  flex-direction: column;
  flex: 1;
}

.weight {
  gap: 1rem;
}

.displays {
  flex: 1;
  background-color: rgb(64, 64, 234);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.displays span {
  margin-left: 0.5rem;
  font-size: 10px;
}
.displays:hover .removeWeight {
  opacity: 1;
}

.removeWeight {
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}

.stock {
  align-items: center;
  justify-content: center;
  border: 2px solid #12005b4a;
  border-radius: 5px;
  overflow: hidden;
}
.stock > * {
  font-weight: bold;
}
.stockDisplay {
  border-inline: 1px solid #12005b4a;
  padding-inline: 1rem;
}
.stock button {
  background-color: #fff;
  height: 100%;
  border: none;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #12005b;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.stock button:hover {
  background-color: #ddd;
}

.totalStock {
  font-weight: bold;
}